<div class="container">
  <h1>Enter a username!</h1>
  <form [formGroup]="usernameForm" (ngSubmit)="setUsername()">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Username</mat-label>
      <input matInput required type="text" id="username" formControlName="username">
      <fa-icon matPrefix [icon]="user"></fa-icon>
    </mat-form-field>
    <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">{{errorMessage}}</mat-error>
    <button mat-flat-button color="primary" type="submit">
      <fa-icon [icon]="arrowRight"></fa-icon>
      Submit
    </button>
  </form>
</div>
