@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  text-align: center;
  align-items: center;
}

.errors {
  color: red;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
